<h2>TODOS route</h2>
<div class="todos-list-container">
    <div class="todos-list">
        <div class="todos-list-header">
            <div>
                {{#if isAddingNew}}
                    {{  
                        input
                        autofocus="autofocus" 
                        action="newTodo"
                        placeholder="New Task"
                        value=title
                    }}
                {{else}}
                    <div {{action "toggleNewTodo"}}>
                        משימות
                    </div>
                {{/if}}
            </div>
            <div {{action "toggleNewTodo"}}>
                +
            </div> 
        </div>
        <div class="todos-list-items">
            {{#each todos as |todo|}}
                <div class="list-item">
                    <div>
                        {{
                            input 
                            type="checkbox" 
                            checked=todo.isDone
                            change=(action "toggleTodoStatus" todo)
                        }} 
                    </div>
                    {{#if todo.isEditing}}
                        {{  
                            input 
                            autofocus="autofocus" 
                            insert-newline=(action "acceptTodoEdit" todo) 
                            focus-out=(action "acceptTodoEdit" todo)
                            value=todo.title 
                        }}
                    {{else}}
                        <div class="todo-title {{if todo.isDone 'done'}}" {{action "toggleTodoEdit" todo}}>{{todo.title}}</div>
                    {{/if}}
                    <button class="x-close" disabled={{todo.isSaving}} {{ action 'deleteTodo' todo }}>
                    </button>
                </div>
            {{/each}}
        </div>
        <div class="todos-list-footer">
            <div>לסיום: {{ todosTodo }}</div>
            <div>הושלמו: {{ todosDone }}</div>
            <div>סה"כ: {{ todos.length }}</div>
        </div>
    </div>
</div>