<h2>TODOS route</h2>
<div class="todos-list-container">
    <div class="todos-list">
        <div class="todos-list-header">
            <div class="todos-header-text">
                {{#if isAddingNew}}
                    {{  
                        todo-input 
                        classNames="editing todo-title"
                        placeholder="הוספת משימה חדשה..."
                        value=title
                        focus-out=(action "newTodo" 0)
                        insert-newline=(action "newTodo" 1)
                    }}
                {{else}}
                    <div {{action "toggleNewTodo" on="click"}}>
                        משימות
                    </div>
                {{/if}}
            </div>
            <div class="todos-header-btn" {{action "toggleNewTodo" on="click"}}>
                {{#if isAddingNew}}
                    <span {{action "newTodo" 0}}>+</span>
                {{else}}
                    <span {{action "toggleNewTodo"}}>+</span>
                {{/if}}
            </div> 
        </div>
        <div class="todos-list-items">
            {{#each todos as |todo index|}}
                <div class="list-item {{if todo.isEditing 'editing'}}">
                    {{input type="checkbox" disabled=todo.isEditing checked=todo.isDone change=(action "toggleTodoStatus" todo) class="todos-checkbox"}}
                    {{plus-one index}}.
                    {{#if todo.isEditing}}
                        {{  
                            todo-input 
                            classNames="todo-title"
                            value=todo.title
                            focus-out=(action "acceptTodoEdit" todo)
                            insert-newline=(action "acceptTodoEdit" todo)
                        }}
                    {{else}}
                        {{!-- <div class="todo-title  {{if todo.isDone 'done'}}" {{action "toggleTodoEdit" todo on="click"}}>{{todo.title}}</div> --}}
                        <div  class="todo-title  {{if todo.isDone 'done'}}"  {{action "toggleTodoEdit" todo on="click"}}>
                            {{ todo-title title=todo.title }}
                        </div>
                    {{/if}}
                    <button class="x-close" disabled={{todo.isSaving}} {{action 'deleteTodo' todo}}></button>
                </div>
            {{/each}}
        </div>
        <div class="todos-list-footer">
            <div>לסיום: {{ todosTodo }}</div>
            <div>הושלמו: {{ todosDone }}</div>
            <div>סה"כ: {{ todos.length }}</div>
        </div>
    </div>
</div>